

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.main-content {
  flex-grow: 1; 
}


.Header {
  height: 10vh; 
}

.footer {
  height: 5vh; 
}

.sidebar {
  position: fixed;
  top: 30;
  bottom: 15;
  left: 0;
  z-index: 100;
  padding: 48px 0;
  background-color: #343a40;
  color: #fff;
  width: 150px;
  overflow-x: hidden;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #4e555b;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #f8f9fa;
}


